CH2.py
[{"id":"91c73d60.a63e4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"363c69b6.5a2ae6","type":"mqtt in","z":"91c73d60.a63e4","name":"","topic":"mcs/DbZn5f9B/W0oZg37fGY514cGY/+","qos":"2","datatype":"auto","broker":"887d7323.b6e53","x":190,"y":140,"wires":[["c9a09d5c.dcec1"]]},{"id":"c9a09d5c.dcec1","type":"csv","z":"91c73d60.a63e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":230,"y":220,"wires":[["e42a184f.d7c3f8"]]},{"id":"e42a184f.d7c3f8","type":"change","z":"91c73d60.a63e4","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":340,"wires":[["27f6b37a.b28d0c","d87942c4.412da"]]},{"id":"27f6b37a.b28d0c","type":"ui_gauge","z":"91c73d60.a63e4","name":"","group":"ad8426b8.733c78","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":340,"wires":[]},{"id":"d87942c4.412da","type":"debug","z":"91c73d60.a63e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Data","targetType":"msg","x":580,"y":260,"wires":[]},{"id":"887d7323.b6e53","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad8426b8.733c78","type":"ui_group","z":"","name":"Status","tab":"310eb83d.4a5178","order":1,"disp":true,"width":"6","collapse":false},{"id":"310eb83d.4a5178","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
